/*  your css code here. If applicable */
table {
      background-color: yellow;
      border: 1px solid black;
      border-collapse: collapse;
      width: 60%;
      margin: 50px auto;
      text-align: center;
    }
    th, td, tr {
      border: 1px solid black;
      padding: 10px;
    }
    caption {
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: 10px;
    }